<% include partials/header %>

<div class="container main ui text segment">
  <h1>Blogs</h1>

  <% blogs.forEach( function (blog) { %>
    <h3><%= blog.title %></h3>
    <p><%= blog.created %></p>
    <img src="<%= blog.img %>" alt="">
    <p><%= blog.body.substring(0,100) %>..</p>
    <a href="/blogs/<%= blog._id %>">Show me more!</a>
  <% }) %>
</div>

<% include partials/footer %>
