<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Yelp</p>
      <div class="list-group">
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= imgUrl %>" alt="">
        <div class="caption-full">
          <h4 class="pull-right">$9.00/night</h4>
          <h4><a><%= name %> </a><span style="font-size: 0.7em;">by <%= owner.email %></span></h4>
          <p><%= description %></p>
        </div>
      </div>
      <br>
      <div class="well">
        <div class="text-right">
          <a href="/campgrounds/<%= _id %>/comments/new" class="btn btn-md btn-info">Add a comment</a>
        </div>
        <hr>
        <% comments.forEach(function (comment) { %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.email %></strong>
              <span class="pull-right">10 days ago</span>
              <p><%= comment.content %></p>
            </div>
          </div>
        <% }); %>
      </div>
      <a class="btn btn-md btn-default" href="/campgrounds">Go back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
